# OSX
.DS_Store

# IDE
.idea

# npm
node_modules
yarn.lock
package-lock.json

# jest
coverage

# dev
test
build
.babelrc
.eslintrc.json

#doc
CONTRIBUTING.md
docs

#other
.travis.yml
karma.sauce.conf.js