# OSX
.DS_Store

# IDE
.idea

# npm
node_modules
yarn.lock
package-lock.json

# jest
coverage

# dev
src
test
types
build
babel.config.js
prettier.config.js
.eslintrc.json
patches

#doc
CONTRIBUTING.md
docs

#other
.travis.yml
karma.sauce.conf.js
.github
.releaserc
